<%- include("template/header", {title:'Login'}) %>


    <link rel="stylesheet" href="css/Login-Usuario.css">
</head>

<body>
    <div class="Pagina_Principal">
        <%- include("template/navbar") %>

        <div class="Principal container-fluid">
            <div class="Aviso">
                <img src="img/Cliente_Mecanico.jpg" alt="">
                <div>
                    <h1>Bienvenido</h1>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum non culpa reiciendis accusamus vitae.
                    </p><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
                    <div class="Registro_Ico">
                        <a href="/registro">
                            <i class="fas fa-paste"></i>
                            <p>Solicitud de ingreso formulario virtual</p>
                        </a>                        
                    </div>
                </div>
            </div>
            <div class="Login"><br> <br> <br>
                <h3>Iniciar sesión</h3><br> <br>
                <form class="needs-validation"  id="login" novalidate>
                    
                    <div class="mb-5">
                        
                        <input type="email" class="form-control mb-3" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" required>
                        <div class="valid-feedback"> perfecto</div>
                        <div class="invalid-feedback ">el correo debe ser de tipo usuario@mail.com</div>
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control mb-2" name="password" id="Input_Password" placeholder="Password" minlength="8" required>
                        <div class="valid-feedback"> se ve bien</div>
                        <div class="invalid-feedback">minimo 8 palabras(letras o numeros).</div>
                    </div>
                    <button  class="btn btn-dark"> <a class="a">Ingresar</a></button>
                </form>
            </div>
        </div>
    </div>

    </div>

    <script src="js/Login.js"></script>

    
    <%- include("template/footer") %>    