.Contacto-img {
    /*border: 5px solid red;*/
}

.Contacto-img img {
    width: 100%;
    height: 250px;
}

.Formulario {
    display: flex;
    padding-left: 150px;
    margin-top: 180px;
    height: 520px;
    width: 100%;
}

.Formulario div {
	position: relative;
    margin-left: 50px;
    left: -8.5%;
    /*border: 5px solid blue;*/
}

.Formulario .Info {
    border: 2px solid silver;
    width: 40%;
}

.Formulario .Info form {
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.Formulario .Info form section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    height: 80px;
    width: 100%;
    top: 30px;
    left: -4%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Formulario .Info form .Solicite {
    position: relative;

}

.Formulario .Info section h2,
.Formulario .Info section p {
    margin-left: 20px;
}

.Formulario .Info section p {
    font-size: 0.9vw;
}

.Personal {
    width: 80%;
    
}

.Personal form {
    position: relative;
    text-align: center;
    background-color: rgb(245, 246, 246);
    border: 1px solid rgb(245, 246, 246) !important;
    width: 100%;
    height: 522px;
    padding-left: 40px;
}

.Personal form textarea{
	width: 95%;
}


.Personal form input {
    width: 95%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.Personal form button {
    width: 30%;
    margin-top: 20px;
    height: 50px;
}


.Blog{
	text-align: center;
}